<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MyGet" value="https://www.myget.org/F/pinzonline" />
  </packageSources>
  <packageSourceCredentials>
    <MyGet>
      <add key="Username" value="pinzonlinedev" />
      <add key="ClearTextPassword" value="J!#6d;D^Z]}4~rW&amp;" />
    </MyGet>
  </packageSourceCredentials>
</configuration>